@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+J+Guides:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  background-image: url("assets/images/kenny-eliason-sEwtU-qy06c-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.logo-24 {
  font-style: italic;
  font-weight: bold;
  color: red;
}

.bi-heart-fill {
  fill: gray !important;
}

.is-active {
  .bi-heart-fill {
    fill: red !important;
  }
}

.about-us p {
  text-indent: 3%;
  text-align: left;
}

.left-side {
  float: left;
  padding: 10px;
}

.responsive {
  width: 100%;
  max-width: 300px;
  height: auto;
}
